html{font-size: 14px;font-family: "微软雅黑","Microsoft YaHei";}
body{min-width: 1280px;box-sizing: border-box;width: 100%;position: relative;font-family: "微软雅黑","Microsoft YaHei";}
header{width: 100%;overflow: hidden;}
#header-images{width: 1620px;height: 480px;margin: 0 auto;position: relative;overflow: hidden;box-shadow: 0 0 50px lightseagreen;}
.one{position: absolute;border: 1px solid white;background-image: url('../images/header/1.jpeg');}
.two{position: absolute;border: 1px solid white;background-image: url('../images/header/2.jpeg');}

#Me{position: absolute;top: 350px;width: 500px;left: 100px;text-align: center;font-size: 40px;color: navy;text-shadow:0 0 5px #CCCCCC, 0 0 10px #CCCCCC, 0 0 15px #CCCCCC, 0 0 20px red, 0 0 25px red, 0 0 30px red, 0 0 50px orange, 0 0 80px red, 0 0 100px orange, 0 0 150px red;					-webkit-text-stroke: 1px#000;-webkit-text-fill-color: transparent;}
#Me>small{font-size: 22px;color: red;}
