<div class="me-title">
    <span>自我了解</span>
</div>
<div class="me-content">
    <div class="me-content-one">
        <p>个人信息</p>
        <table>
            <tr>
                <th>姓名：</th>
                <th>卞童</th>
            </tr>
            <tr>
                <th>性别：</th>
                <th>男</th>
            </tr>

            <tr>
                <th>学历：</th>
                <th>大专</th>
            </tr>
            <tr>
                <th>专业：</th>
                <th>电子信息</th>
            </tr>
            <tr>
                <th>电话：</th>
                <th>13636898669</th>
            </tr>
            <tr>
                <th>邮箱：</th>
                <th>834499845@qq.com</th>
            </tr>
            <tr>
                <th>家乡：</th>
                <th>陕西-咸阳-礼泉</th>
            </tr>
        </table>
    </div>
    <div class="me-content-two">
        <p>教育工作</p>
        <table>
            <tr>
                <th>大学：</th>
                <th>陕西工业职业技术学院</th>
            </tr>
            <tr>
                <th>时间：</th>
                <th>2010.9 - 2014.6</th>
            </tr>
            <tr>
                <th>工作：</th>
                <th>深圳萨克森计算机公司</th>
            </tr>
            <tr>
                <th>时间：</th>
                <th>2013.10 - 2016.09 </th>
            </tr>

        </table>
    </div>
    <div id="me-content-therr" toolbar-tip="">
        <p>个人技能</p>
        <p>1. 精通html/html5,css/css3和javascript,等web前端基础知识，各类H5新标签canvas，audio，video等新元素，实现各类动画，编写语义化的html，多个网站架构布局，响应式布局等，掌握Emment语法，熟悉ES6新知识。</p>
        <p>2. 精通客户端js和服务端交互熟练使用客户端js做 ajax 请求。精通使用jQuery，以及使用jQuery发送网络请求。精通js的promise和jQuery的Deferred等异步请求，并对服务器端数据进行处理。熟练使用cookie，本地存储，缓存，服务器管线，路由，跨域限制等技术。熟练使用正则来进行数据处理。</p>
        <p>3. 精通多个前端UI框架，模板以及工具，如bootstrap，ionic，Angular，React，requireJs，artTemplate，less，css等。 熟练使用 bootstrap 实现响应式布局，以及各类网站架构布局。熟练使用mvvm开始框架Angular，搭建各类企业网站。熟练使用requireJs模块，进行js模块定义，异步载js以及内部的模块自带插件。
            熟练使用ionic移动端框架，使用H5开发移动端App，打包压缩。 熟练使用arttemplatehtml模板进行网页开发，使数据高效的进行交互。熟练使用SUI。Mobile 移动端框架，进行移动端页面的开发。 熟练使用less和sass，对css进行预处理，css进行扩展。
            熟悉nodeJs基础知识，掌握experss框架以及一些工具，使用搭建服务器读取数据，更改，及上传文件，图片等，并进行过开发，可以自定义模块。掌握ReactJs组件，自定义UI组件使用进行扩展js，熟悉jsx编译，可以使用webpack实现前端代码的模块开发。
            熟悉VueJs组件基础知识。 熟练使用插件，onePage，Swiper，flexslid，ECharts，地图类等。以及自己写件。
        </p>
        <p>4. 精通使用前端自动化构建工具，gulp，grunt，webpack等，可以使用进行文件打包，压缩，丑化等减轻文件大小。</p>
        <p>5. 精通json数据解析，熟练使用sql数据库，和noSql数据库。熟悉xml数据。</p>
        <p>6. 精通使用git分布式源代码版本管理工具，进行代码管理，分支创建，同步开发等。并使用码云进行项目开发和上传。并了解svn管理工具。 </p>
        <p>7. 自学掌握 Objective-c, 熟练使用 Xcode 工具。熟练使用iOS中各类UI控件,及各类动画，以及各类第三方插件FMDB，AFNetworks。熟悉多种设计模式,如: MVC, 单例，代理， KVC，KVO等，熟悉多线程开发
            ，并进行开发App。
        </p>
        <p>8. 自学掌握，熟练使用ps工具，熟悉各类图片属性，三原色，依次进行ps，抠图，美化等操作。熟练使用markman测量工具，确保网站开发精确度。</p>
        <p>9. 了解PHP基础。</p>
    </div>
    <div class="me-content-four" toolbar-tip="">
        <div>项目经历</div>
        <div class="me-content-four-p">
            <p>1、负责公司项目中Web页面制作（HTML+CSS）和实现页面上各种交互效果、切换效果（jQuery和各种插件）
            </p>
            <p>2、负责公司项目的表单验证、Ajax服务端请求等功能的开发及使用UI框架（Bootstrap、SUI等）完成响应式页面的开发。</p>
            <p>3、负责公司项目前端主体结构的搭建和主要功能模块代码（使用RequireJs、artTemplate等模块化技术和AngularJS等应用框架），完成了多个网站、App嵌入页面的开发工作。</p>
            <p> 4、负责公司前端组技术研究和学习，如：Grunt和gulp自动化构建AngularJS等应用框架，最近在学习ionic等混合App开发及Node.js相关技术。</p>
            <p>5、负责配合测试完成项目bug 修复和优化。</p>
        </div>
        <div class="me-content-four-p">
            <p>2016.07 - 2016.09 尺子科技 iClap</p>
            <p>软件开发环境：Windows/JavaScript/HTML5/CSS3/jQuery/AngularJS；硬件环境：PC；开发工具：VSCode；</p>
            <p>项目描述：</p>
            <p>主要功能是一款工具，为做互联网产品的用户提供一些方便的注释工具。主要分为 五大部分：展示部分，指导帮助部分，功能部分，案例部分，登录下载。</p>
            <p>1.展示部分，以大图方式展示了iclap的主要功能。</p>
            <p>2.指导帮助部分，以视频的形式展示给用户怎么样去操作。</p>
            <p>3.功能部分，详细的介绍了使用细节。</p>
            <p>4.登录下载部分，用户进行登录和下载进行使用。</p>
            <p>链接： <a href="http://www.iclap.cn/" target="_black">www.iclap.cn</a></p>
            <p>个人职责:</p>
            <p>1.根据UI 设计通过使用angular来搭建框架，然后使用 css js jQuery来完成页面，和页面的动画。</p>
            <p>2.使用了视频插件来进行视频播放playerJs。使用了分页插件jqPaginator。使用canvas来进行绘画动画。使用丑化js工具gulp。</p>
            <p>难点：动画的实现。初次使用短信验证有些小问题。</p>
        </div>
        <div class="me-content-four-p">
            <p>2015.09 - 2015.11 苗天下</p>
            <p>软件开发环境：Windows/JavaScript/HTML5/CSS3/jQuery；硬件环境：PC；开发工具：VSCode；</p>
            <p>项目描述：</p>
            <p>主要两大部分提供：最新苗木供求信息，产品展示，花卉园艺，苗木基地，景观设计、绿化苗木采购招标信息。行业最新资讯实现苗木、花卉、绿化资材的线上对线下的交易。</p>
            <p>1.展示界面，展示各类苗木，花花，设计，绿化，企业，交易信息，百科等信息。</p>
            <p>2.会员界面，用户注册登录，进行交易，浏览，查看商品等。</p>
            <p>3.购买界面，根据自己的需求添加需要物品，并进行交易。</p>
            <p>4.登录下载部分，用户进行登录和下载进行使用。</p>
            <p>链接： <a href="http://www.miaotianxia.com/" target="_black">http://www.miaotianxia.com/</a></p>
            <p>个人职责:</p>
            <p>1.根据UI需求使用html css js jQuery搭建网页，以及网页动画。</p>
            <p>2.使用ajax进行数据处理，展示。并进行登录注册，以及和后台进行支付交互。</p>
            <p>难点：在处理会员账号这块的数据处理。</p>
        </div>
        <div class="me-content-four-p">
            <p>2015.07 - 2015.09 八星旅游</p>
            <p>软件开发环境：Windows/JavaScript/HTML5/CSS3/jQuery；硬件环境：PC；开发工具：VSCode；</p>
            <p>项目描述：</p>
            <p>八星旅游是一个以针对出国旅游为主的展示网站。主要包括(首页，旅游地-详情，私人服务，登录付款)四大部分。</p>
            <p>1.首页主要展示一些最新的，最适合目前季节的旅游地。</p>
            <p>2.旅游地主要针对国外各国的有名城市，名胜古迹等进行介绍，并可以进行详细的旅游日程查询。酒店，餐饮等各种细节，以及所过之处的一切细节。</p>
            <p>3.私人服务有婚纱摄影，私人定制等一些服务。</p>
            <p>4.登录支付，进行了旅游中的付费细节，注意事项，日程等细节，以及八星旅游对比其他旅行的优点。</p>
            <p>链接： <a href="http://www.8stour.com/" target="_black">http://www.8stour.com/</a></p>
            <p>个人职责:</p>
            <p>1.根据UI需求使用html css js jQuery搭建网页，以及网页动画。</p>
            <p>2.使用ajax进行数据处理，展示。并进行登录注册，以及和后台进行支付交互。</p>
            <p> 难点：动画的实现。</p>
        </div>
        <div class="me-content-four-p">
            <p>2015.06 - 2015.07 遇见宠屋</p>
            <p>软件开发环境：Windows/JavaScript/HTML5/CSS3/jQuery；硬件环境：PC；开发工具：VSCode；</p>
            <p>项目描述：</p>
            <p>主要介绍各类宠物，和养宠物注意事项等，并进行出售各类宠物食物和道具等。遇见宠屋主要分为三个部分（宠物美容和品种，宠物用品，在线留言咨询）。</p>
            <p>1.宠物美容，品种为一部分，分别介绍了宠物的毛发护理，以及注意事项，品种介绍了多种狗类宠物</p>
            <p>2.宠物用品，介绍了宠物的各类实用小用品，并以此进行销售。</p>
            <p>3.在线留言，主要是用户登录界面后，可以留言咨询各类小狗狗们的问题，网站会及时进行回答。</p>
            <p>链接： <a href="http://www.coralwv.com/" target="_black">http://www.coralwv.com/</a></p>
            <p>个人职责:</p>
            <p>1.根据UI需求使用html css js jQuery搭建网页，以及网页动画。</p>
            <p>2.使用ajax进行数据处理，展示。并进行登录注册，以及和后台进行支付交互。</p>
            <p>3.参与网站的功能与需求分析。</p>
        </div>
        <div class="me-content-four-p">
            <p>2015.04 - 2015.06 果然新鲜</p>
            <p>软件开发环境：Windows/JavaScript/HTML5/CSS3/jQuery；硬件环境：PC；开发工具：Sublime/VSCode；</p>
            <p>项目描述：</p>
            <p>以出售瓜果蔬菜为主的支付网站。主要以展示各类好吃的水果，为主的，然后用户挑选进行交易的网站，分为三大部分(展示部分瓜果蔬菜部分，登录支付部分，商家服务)。</p>
            <p>1.展示部分，分为多个页面，进行展示，分类展示，点击查看单个等，进口水果，国产水果等，各种水果，引起的食欲。并且可以进行选定。</p>
            <p>2.登录支付部分，为用户选定之后进行支付的界面，后台进行操作。可以进行单独水果，或者多选批发。</p>
            <p>3.商家服务：提供广告服务，培训等。</p>
            <p>链接： <a href="http://www.esenbol.com/" target="_black">http://www.esenbol.com/</a></p>
            <p>个人职责:</p>
            <p>1.根据UI需求使用html css js jQuery搭建网页，以及网页动画。</p>
            <p>2.使用ajax进行数据处理，展示。并进行登录注册，以及和后台进行支付交互。</p>
        </div>
        <div class="me-content-four-p">
            <p>2014.12 - 2015.02 有颜色</p>
            <p>软件开发环境：Windows/JavaScript/HTML5/CSS3/jQuery；硬件环境：PC；开发工具：Sublime；</p>
            <p>项目描述：</p>
            <p>这是一个有关调酒的网站,主要可分为四大块。</p>
            <p>1.首页，首先通过轮播图的形式向用户展示时下最受欢迎的酒，点击可以查看主要介绍,调制的方法以及调制的流程，除此还推荐了一些受欢迎的调酒配方和网友作品,以及鸡尾酒配发和流程。。</p>
            <p>2.调酒配方，以下拉框分类的形式向用户展示各类的调酒配方及调酒流程。</p>
            <p>3.调酒知识，展示了一些鸡尾酒的调试配方和流程。</p>
            <p>4.网友作品，带你了解网友们分享的鸡尾酒配方。</p>
            <p>链接： <a href="http://www.youyanse.com/" target="_black">www.youyanse.com</a></p>
            <p>个人职责:</p>
            <p>1.根据UI需求使用html css js jQuery搭建网页，以及网页动画。</p>
            <p>2.使用ajax进行数据处理，展示。并进行登录注册，以及和后台进行支付交互。</p>
            <p> 难点：动画的实现。</p>
        </div>
        <div class="me-content-four-p">
            <p>2016.03 - 2016.05  天气预报</p>
            <p>软件开发环境：Windows/JavaScript/HTML5/CSS3/Angular/ionic/java环境/android配置；硬件环境：移动设备；开发工具：VSCode；</p>
            <p>项目描述：</p>
            <p>使用ionic调用百度接口做的一款移动的App。天气预报主要分为四个模块：</p>
            <p>1.首页展示，展示你所保存的所在城市当天的天气。</p>
            <p>2.设置界面，设置当前城市，以及缓存等等其他信息。</p>
            <p>3.添加界面，根据自己的需求添加需要城市，并可以查看添加城市的当天天气信息。</p>
            <p>4.详情界面，未来三天的天气情况，以及当天的适合做哪些事情。</p>
            <p>链接： 自己写的小型App ，没有链接，用于公司其他方面。</p>
            <p>个人职责:</p>
            <p>1.使用ionic 和angular $http依赖，以及ui-router。</p>
            <p>2.独立完成项目，搭建框架，展示见面，发送请求，获取数据。</p>
            <p>难点打包问题，网络问题等</p>
        </div>
        <div class="me-content-four-p">
            <p>2016.06 - 2016.08  问答</p>
            <p>软件开发环境：Windows/JavaScript/HTML5/CSS3/nodeJs/；硬件环境：PC/移动端；开发工具：VSCode；</p>
            <p>项目描述：</p>
            <p>使用nodeJs开发的服务端和ajax请求做的一个问答模块，问答模块为网站中一部分，我主要做了nodejs的简单读取数据，更改数据并返回给前台，然后前台进行处理，前台处理也是自己完成页面搭建，处理数据和展示。包含登录注册，提问回答等</p>
            <p>链接：自己写的模块，用于网站一部分公司需求。暂时没有链接</p>
            <p>个人职责:</p>
            <p>1.使用nodeJs的多个框架 fs 读取文件，修改文件等。 molter上传文件，图片等。</p>
            <p>2.使用cookie来进行存储数据。</p>
            <p>难点初期使用nodeJs，对很多东西都不熟练。</p>
        </div>
    </div>
</div>