<div class="me-title">
    <span>自我了解</span>
</div>
<div class="me-content">
    <div class="me-content-one">
        <p>个人信息</p>
        <table>
            <tr>
                <th>姓名：</th>
                <th>卞童</th>
            </tr>
            <tr>
                <th>性别：</th>
                <th>男</th>
            </tr>

            <tr>
                <th>学历：</th>
                <th>大专</th>
            </tr>
            <tr>
                <th>专业：</th>
                <th>电子信息</th>
            </tr>
            <tr>
                <th>电话：</th>
                <th>13636898669</th>
            </tr>
            <tr>
                <th>邮箱：</th>
                <th>834499845@qq.com</th>
            </tr>
            <tr>
                <th>家乡：</th>
                <th>陕西-咸阳-礼泉</th>
            </tr>
        </table>
    </div>
    <div class="me-content-two">
        <p>教育经历</p>
        <table>
            <tr>
                <th>小学：</th>
                <th>石坡扶小学</th>
            </tr>
            <tr>
                <th>初中：</th>
                <th>裴寨初中</th>
            </tr>
            <tr>
                <th>高中：</th>
                <th>礼泉县第二中学</th>
            </tr>
            <tr>
                <th>大学：</th>
                <th>山西工业职业技术学院</th>
            </tr>
        </table>
    </div>
    <div class="me-content-therr">
        <p>个人技能</p>
        <p>1. 精通ht ml/ht ml5 ,c ss/c ss3和javasc r ipt , 熟悉前端页面布局和响应式效果实现,熟悉 node js, 熟练掌握e xpr e ss 框架,有相关开发经验</p>
        <p>2. 熟悉客户端js和服务端交互,熟练使用客户端js做 ajax 请求</p>
        <p>3. 熟悉常见的前端ui框架,如 boot st r ap,ionic ,we ui,jQ ue r y等,能熟练使用 boot st r ap 实现响应式 布局.熟练使用 boot st r ap实现响应式布局.熟悉使用前端mvvm开发框架vue .js,angular .js</p>
        <p>4. 熟悉使用前端自动化构建工具,如: gulp,we bpac k等.能够使用 we bpac k 实现前端代码的模块化 开发</p>
        <p>5. 熟练使用git 源代码版本管理工具,熟练使用mar kdown语法 </p>
        <p>6. 熟练掌握 Obje c t ive -c , 熟练使用 Xc ode 工具</p>
        <p>7. 熟练使用iOS中各类UI 控件,及各类动画</p>
        <p>8. 熟悉多种设计模式,如: MVC , 单例,代理, KVC ,KVO等,熟悉多线程编程</p>
    </div>
    <div class="me-content-four">
        <div>项目经历</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>